@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat"),
       url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("ttf");
}

:root {
  --background-color-xs: #E9EFEC;
  --background-color-s: #C4DAD2;
  --main-text-color: #16423C;
  --accent-color: #6A9C89;
  --additional-light-color: #adadad;
  --additional-dark-color: #6a6a6a;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a,
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

a,
button,
a:hover, 
button:hover {
  transition: 0.3s;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

body {
  font-family: Montserrat;
  font-style: normal;
  color: var(--main-text-color);
  overflow-x: hidden;
  background-color: var(--background-color-xs);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
}

.title {
  font-size: 1.7rem;
  text-align: center;
  
}

@media (max-width: 768px) {
  .container {
    padding: 25px;
  }
}